* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Pink: hsl(322, 100%, 66%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.background-content {
  background-image: url(source/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--Very-Pale-Cyan);
  height: 721px;
}

section.first-contact {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

nav img {
  max-width: 160px;
}

nav a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-align: center;
  color: var(--Very-Dark-Cyan);
  background-color: #ffffff;
  padding: 12px 56px;
  border-radius: 24px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.hero-title {
  font-family: 'Open Sans', sans-serif;
  color: var(--Very-Dark-Cyan);
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 32px;
}

.hero-subtitle {
  font-size: 18px;
  color: var(--Very-Dark-Cyan);
  line-height: 27px;
  margin-bottom: 68px;
}

.hero-content a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: var(--Pink);
  padding: 18px 72px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: bold;
}

.hero-right-side img {
  max-width: 680px;
}

.card-area {
  padding-left: 5%;
  padding-right: 5%;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 12px;
  margin-bottom: 32px;
  height: 440px;
}

.left-card-side {
  padding-left: 10%;
}

.right-card-side {

  padding-right: 25px;
}

.left-card-side h1{
  font-family: 'Open Sans';
  margin-bottom: 16px;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
}

.left-card-side p{
  max-width: 480px;
  font-family: 'Open Sans';
  margin-bottom: 16px;
  line-height: 27px;
  color: var(--Grayish-Blue);
  font-size: 18px;
}

.right-card-side h1{
  font-family: 'Open Sans';
  margin-bottom: 16px;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
}

.right-card-side p{
  max-width: 480px;
  font-family: 'Open Sans';
  margin-bottom: 16px;
  line-height: 27px;
  color: var(--Grayish-Blue);
  font-size: 18px;
  
}

.card-container img {
  max-width: 440px;
  max-height: 440px;
}

.build-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  position: relative;
  width: 800px;
  padding: 50px;
  z-index: 1;
  box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
  margin-top: 150px;
  top: 20px;
}

.build-card h1 {
  font-size: 32px;
  margin-bottom: 56px;
}

.build-card a {
  text-decoration: none;
  padding: 32px 86px;
  border-radius: 40px;
  background-color: var(--Pink);
  color: white;
  font-weight: bold;
  font-size: 20px;
}


footer {
  background-color: var(--Very-Dark-Cyan);
  color: white;
  height: 420px;
  font-size: 14px;
}


.footer-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact {
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  max-width: 380px;
}

.contact img {
  max-width: 24px;
  max-height: 24px;
}

.first-link a,.second-link a{
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
}

.social-media img {
  width: 32.31px;
  height: 31px;
  border-radius: 50%;
  border: 1px solid white;
}